# Predictive Modeling # 
We will use Keras for a logistic regression model. In this notebook, we will be eradicating all instances that include a missing value. With the training at the bottom of this notebook, we reach an accuracy of 69.6% diagnosis.

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sb
import numpy as np 
import itertools

plt.style.use('fivethirtyeight')

from subprocess import check_output 

from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
diabetes = pd.read_csv('../data/pima-indians-diabetes.data.csv', header=None)

## Cleaning out the missing values ##

In [3]:
diabetes.head(3)

   0    1   2   3  4     5      6   7  8
0  6  148  72  35  0  33.6  0.627  50  1
1  1   85  66  29  0  26.6  0.351  31  0
2  8  183  64   0  0  23.3  0.672  32  1

In [4]:
diabetes[[1,2,3,4,5]] = diabetes[[1,2,3,4,5]].replace(0, np.NaN)
print(diabetes.isnull().sum())

0      0
1      5
2     35
3    227
4    374
5     11
6      0
7      0
8      0
dtype: int64

In [5]:
diabetes.head(3)

   0      1     2     3   4     5      6   7  8
0  6  148.0  72.0  35.0 NaN  33.6  0.627  50  1
1  1   85.0  66.0  29.0 NaN  26.6  0.351  31  0
2  8  183.0  64.0   NaN NaN  23.3  0.672  32  1

## Eradicate all instances with NaN ##

In [6]:
diabetes.dropna(inplace=True)

In [7]:
train, test = train_test_split(diabetes, 
                               test_size=.20, 
                               random_state=0, 
                               stratify=diabetes[8])

train_X = train[train.columns[:8]]
test_X = test[test.columns[:8]]

train_Y = train[8]
test_Y = test[8]

print train_X.shape
print test_X.shape

(313, 8)
(79, 8)

In [8]:
count_1 = 0
count_0 = 0
for i in train_Y: 
    if i == 1: count_1+=1
    if i == 0: count_0+=1 

print count_1 
print count_0
print len(train_Y)

104
209
313

In [9]:
test_X = test_X.values
train_X = train_X.values
test_Y = test_Y.values
train_Y = train_Y.values

In [10]:
train_Y_format = np.zeros(shape=(len(train_Y), 2))
for i in range(len(train_Y)):
    if train_Y[i] == 0: 
        train_Y_format[i] = [1,0]
    elif train_Y[i] == 1: 
        train_Y_format[i] = [0,1]
    else: 
        print "uh oh"

In [11]:
test_Y_format = np.zeros(shape=(len(test_Y), 2))
for i in range(len(test_Y)):
    if test_Y[i] == 0: 
        test_Y_format[i] = [1,0]
    elif test_Y[i] == 1: 
        test_Y_format[i] = [0,1]
    else: 
        print "uh oh"

# Let's attempt to train a logistic regression model #

In [12]:
from keras.models import Sequential 
from keras.layers import Dense, Activation 
from keras.regularizers import L1L2

output_dim = nb_classes = 2
input_dim = 8

model = Sequential() 
model.add(Dense(output_dim, 
                input_dim=input_dim, 
                activation='softmax',
                kernel_regularizer=L1L2(l1=0.0, l2=0.1),
                )) 
batch_size = 5
nb_epoch = 40

/Users/calvin-is-seksy/anaconda/envs/main/lib/python2.7/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [13]:
model.compile(optimizer='adagrad', 
              loss='categorical_crossentropy', 
              metrics=['accuracy']) 

model.fit(train_X, train_Y_format, 
                    batch_size=batch_size, 
                    nb_epoch=nb_epoch,
                    verbose=1, 
                    validation_data=(test_X, test_Y_format)) 

score = model.evaluate(test_X, test_Y_format, verbose=0) 

print('Test score:', score[0]) 
print('Test accuracy:', score[1])

/Users/calvin-is-seksy/anaconda/envs/main/lib/python2.7/site-packages/keras/models.py:874: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  warnings.warn('The `nb_epoch` argument in `fit` '

Train on 313 samples, validate on 79 samples
Epoch 1/40
313/313 [==============================] - 0s 1ms/step - loss: 5.5448 - acc: 0.6677 - val_loss: 5.4509 - val_acc: 0.6709
Epoch 2/40
313/313 [==============================] - 0s 653us/step - loss: 5.4806 - acc: 0.6677 - val_loss: 5.4116 - val_acc: 0.6709
Epoch 3/40
313/313 [==============================] - 0s 609us/step - loss: 5.4500 - acc: 0.6677 - val_loss: 5.3879 - val_acc: 0.6709
Epoch 4/40
313/313 [==============================] - 0s 632us/step - loss: 5.4303 - acc: 0.6677 - val_loss: 5.3716 - val_acc: 0.6709
Epoch 5/40
313/313 [==============================] - 0s 709us/step - loss: 5.4162 - acc: 0.6677 - val_loss: 5.3595 - val_acc: 0.6709
Epoch 6/40
313/313 [==============================] - 0s 697us/step - loss: 5.4057 - acc: 0.6677 - val_loss: 5.3503 - val_acc: 0.6709
Epoch 7/40
313/313 [==============================] - 0s 655us/step - loss: 5.3975 - acc: 0.6677 - val_loss: 5.3431 - val_acc: 0.6709
Epoch 8/40
313/313 [==============================] - 0s 673us/step - loss: 5.3910 - acc: 0.6677 - val_loss: 5.3373 - val_acc: 0.6709
Epoch 9/40
313/313 [==============================] - 0s 603us/step - loss: 5.3858 - acc: 0.6677 - val_loss: 5.3326 - val_acc: 0.6709
Epoch 10/40
313/313 [==============================] - 0s 723us/step - loss: 5.3815 - acc: 0.6677 - val_loss: 5.3287 - val_acc: 0.6709
Epoch 11/40
313/313 [==============================] - 0s 830us/step - loss: 5.3779 - acc: 0.6677 - val_loss: 5.3254 - val_acc: 0.6709
Epoch 12/40
313/313 [==============================] - 0s 756us/step - loss: 5.3749 - acc: 0.6677 - val_loss: 5.3227 - val_acc: 0.6709
Epoch 13/40
313/313 [==============================] - 0s 701us/step - loss: 5.3724 - acc: 0.6677 - val_loss: 5.3204 - val_acc: 0.6709
Epoch 14/40
313/313 [==============================] - 0s 745us/step - loss: 5.3702 - acc: 0.6677 - val_loss: 5.3184 - val_acc: 0.6709
Epoch 15/40
313/313 [==============================] - 0s 664us/step - loss: 5.3684 - acc: 0.6677 - val_loss: 5.3167 - val_acc: 0.6709
Epoch 16/40
313/313 [==============================] - 0s 628us/step - loss: 5.3668 - acc: 0.6677 - val_loss: 5.3153 - val_acc: 0.6709
Epoch 17/40
313/313 [==============================] - 0s 709us/step - loss: 5.3655 - acc: 0.6677 - val_loss: 5.3140 - val_acc: 0.6709
Epoch 18/40
313/313 [==============================] - 0s 994us/step - loss: 5.3643 - acc: 0.6677 - val_loss: 5.3129 - val_acc: 0.6709
Epoch 19/40
313/313 [==============================] - 0s 668us/step - loss: 5.3633 - acc: 0.6677 - val_loss: 5.3120 - val_acc: 0.6709
Epoch 20/40
313/313 [==============================] - 0s 610us/step - loss: 5.3624 - acc: 0.6677 - val_loss: 5.3111 - val_acc: 0.6709
Epoch 21/40
313/313 [==============================] - 0s 604us/step - loss: 5.3616 - acc: 0.6677 - val_loss: 5.3104 - val_acc: 0.6709
Epoch 22/40
313/313 [==============================] - 0s 668us/step - loss: 5.3609 - acc: 0.6677 - val_loss: 5.3098 - val_acc: 0.6709
Epoch 23/40
313/313 [==============================] - 0s 683us/step - loss: 5.3603 - acc: 0.6677 - val_loss: 5.3092 - val_acc: 0.6709
Epoch 24/40
313/313 [==============================] - 0s 702us/step - loss: 5.3598 - acc: 0.6677 - val_loss: 5.3087 - val_acc: 0.6709
Epoch 25/40
313/313 [==============================] - 0s 823us/step - loss: 5.3593 - acc: 0.6677 - val_loss: 5.3083 - val_acc: 0.6709
Epoch 26/40
313/313 [==============================] - 0s 731us/step - loss: 5.3572 - acc: 0.6677 - val_loss: 5.2046 - val_acc: 0.6709
Epoch 27/40
313/313 [==============================] - 0s 682us/step - loss: 1.9461 - acc: 0.5463 - val_loss: 0.8280 - val_acc: 0.4177
Epoch 28/40
313/313 [==============================] - 0s 647us/step - loss: 0.7242 - acc: 0.6454 - val_loss: 0.6952 - val_acc: 0.6709
Epoch 29/40
313/313 [==============================] - 0s 673us/step - loss: 0.6253 - acc: 0.6805 - val_loss: 0.6367 - val_acc: 0.6582
Epoch 30/40
313/313 [==============================] - 0s 766us/step - loss: 0.6243 - acc: 0.6933 - val_loss: 0.6622 - val_acc: 0.6709
Epoch 31/40
313/313 [==============================] - 0s 794us/step - loss: 0.6044 - acc: 0.6933 - val_loss: 0.5992 - val_acc: 0.7089
Epoch 32/40
313/313 [==============================] - 0s 802us/step - loss: 0.5984 - acc: 0.7093 - val_loss: 0.7215 - val_acc: 0.6329
Epoch 33/40
313/313 [==============================] - 0s 994us/step - loss: 0.5978 - acc: 0.7252 - val_loss: 0.6019 - val_acc: 0.6962
Epoch 34/40
313/313 [==============================] - 0s 790us/step - loss: 0.5764 - acc: 0.7157 - val_loss: 0.6336 - val_acc: 0.6835
Epoch 35/40
313/313 [==============================] - 0s 699us/step - loss: 0.5917 - acc: 0.7188 - val_loss: 0.5996 - val_acc: 0.6962
Epoch 36/40
313/313 [==============================] - 0s 707us/step - loss: 0.5843 - acc: 0.6997 - val_loss: 0.6071 - val_acc: 0.6962
Epoch 37/40
313/313 [==============================] - 0s 850us/step - loss: 0.5784 - acc: 0.7125 - val_loss: 0.5995 - val_acc: 0.6962
Epoch 38/40
313/313 [==============================] - 0s 775us/step - loss: 0.5869 - acc: 0.7029 - val_loss: 0.5971 - val_acc: 0.6962
Epoch 39/40
313/313 [==============================] - 0s 741us/step - loss: 0.5693 - acc: 0.7348 - val_loss: 0.6569 - val_acc: 0.6709
Epoch 40/40
313/313 [==============================] - 0s 840us/step - loss: 0.5757 - acc: 0.6965 - val_loss: 0.5915 - val_acc: 0.7342
('Test score:', 0.5914590471907507)
('Test accuracy:', 0.7341772197168085)

# RESULTS #

So in this notebook, we chose to eradicate all instances with missing values. After training for 40 epochs with batch sizes of 5, we arrived at 73.4% accuracy. We will move on to the next notebook to attempt variations of data augmentation in hopes of increasing the usable dataset.